[Desktop Entry]
Name=WorldLink
Comment=The Wayland compositor of SekaiOS (a fork of Hyprland)
Exec=worldlink
Type=Application
DesktopNames=SekaiOS
Keywords=wayland;compositor;
